# Ambiente virtual
env/
venv/
.venv/

# Variáveis de ambiente
.env

# Cache do Python
__pycache__/
*.py[cod]
*$py.class

# Pygame
*.log

# IDE
.vscode/
.idea/

# Sistema operacional
.DS_Store
Thumbs.db

# Arquivos temporários
*.tmp
*.temp